# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/bin/

.idea/uiDesigner.xml

openjfx-17.0.1_monocle-windows-x64_bin-sdk.zip

libs/javafx-sdk-17.0.1/

out/
